<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435669641347-brtqdtehuuuqd245id6rvmfuf4ir43c6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435669641347-brtqdtehuuuqd245id6rvmfuf4ir43c6</string>
	<key>API_KEY</key>
	<string>AIzaSyA78QA4qlY6_DL4MT2ockI9ooWwVSyOE5I</string>
	<key>GCM_SENDER_ID</key>
	<string>435669641347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fypDriver</string>
	<key>PROJECT_ID</key>
	<string>fyp-controller</string>
	<key>STORAGE_BUCKET</key>
	<string>fyp-controller.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435669641347:ios:7704564f6749abacde13b6</string>
</dict>
</plist>